<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OBP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OBP.Properties.Settings>
            <setting name="consultantName" serializeAs="String">
                <value>John Doe</value>
            </setting>
            <setting name="templateDirectory" serializeAs="String">
                <value>X:\OBP Team\Team Folders\Tech PreSales\Outlook Templates for SFDC Macro\</value>
            </setting>
            <setting name="salesForceTrackingAddress" serializeAs="String">
             <!--
              old email address
                <value>egpresalessupport@external.groups.hp.com</value>
             -->  
                <value>egpresalessupport@wiz14dgldqx2fhcjgi0ecurf32si32xtgo9icod44iek0uzsz.d-bulkeau.na41.case.salesforce.com</value>
            </setting>
            <setting name="selectedLanguages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>English</string>
                        <string>Czech</string>
                    </ArrayOfString>
                </value>
            </setting>
        </OBP.Properties.Settings>
    </userSettings>
</configuration>